extends auth_layout

block content
    h2 Forgotten Password
    
    p In case your email address is known and associated with a password, you will have been sent a password reset link. 
    
    h5 Please allow a couple of minutes for delivery before trying again.

    h5 The password reset link will be valid for 60 minutes; after that, it expires.

    br

    h5
        a(href='#{baseUrl}/#{forgotPasswordUrl}') Try again.
