extends auth_layout

block content
    h2 Password changed
    
    p Your password has successfully been updated.

    p You may now close this window.
    
    h5 You can now log in using your username (email address) and your new password.

    //- TODO: A link to the login page/to the calling application?
