extends auth_layout

block content
    h2 Email verified
    
    p Thank you for verifying your email address.

    p You may now close this window.
    
    p
        small Your email address is now verified. When logging in the next time, this will be reflected in your user profile.
