extends auth_layout

block scripts
    script(type='text/javascript').
        function validateEmail() {
            var email = $('#email').val();
            var emailError = '';
            if (!email)
                emailError = 'Please enter a value for the email address. ';
            else if (!/.+@.+/.test(email))
                 emailError = 'Email address invalid.';

            try {
                $('#errorEmail').text(emailError);
            } catch (err) {
                alert('Validation errored! Check your input values.');
                return false;
            }
            
            var somethingBad = !!emailError;
            
            return !somethingBad;
        }

block content
    h2 Forgotten Password
    
    p Please supply your email address in the below form.

    h5 In case your email address is known and associated with a password, you will be sent a password reset link.

    form(role='form' action='#{baseUrl}/#{forgotPasswordUrl}' method='post' onsubmit='return validateEmail();')

        input(type='hidden' name='_csrf' value='#{csrfToken}')
        .form-group
            label(for='email') Email address:
            input(type='string' name='email' id='email').form-control
            small 
                span(id='errorEmail' style='color:red')

        button(class='btn btn-lg btn-primary btn-block' type='submit') Send Reset Email
